@model Enterprise.Model.Inspector
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewBag.Title = "Inspector";
    Layout = "_Layout";
}

<div class="profile__title container">
    Инспектор подразделения "@Model.Subdivision.Title" с именем "@Model.FirstName" и фамилией "@Model.LastName" уже существует.
</div>
<a asp-controller="Inspector" asp-action="Index" class="come-back container">Вернуться назад</a>
