@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewBag.Title = "Workman";
    Layout = "_Layout";
}

<div class="profile__title container">
    Некорректное изменения данных
</div>
<a asp-controller="Workman" asp-action="Index" class="come-back container">Вернуться назад</a>
